.picks,
.featured-stores,
.topPizzaOffers {
  padding-top: 45px;
  padding-bottom: 50px;
}
.picks,
.topPizzaOffers {
  @include max-768 {
    padding-top: 5px;
    padding-bottom: 35px;
  }
}
.featured-stores {
  padding-bottom: 80px;
  @include max-768 {
    padding-top: 35px;
    padding-bottom: 40px;
  }
}
.pizza-stores {
  padding-bottom: 75px;
  @include max-768 {
    padding-bottom: 45px;
  }
}

.swiper-parent,
.custom-swiper {
  position: relative;
  .swiper-pagination {
    display: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    @extend %transition-2;
    box-shadow: 0px 6px 10px 0px #56565629;
    .icon {
      font-size: 15px;
      color: $text-color;
      @include ar {
        transform: rotate(180deg);
      }
    }
    @include max-768 {
      display: none;
    }
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "";
  }
}
.swiper-btns {
  @include max-768 {
    display: none;
  }
}
.custom-swiper {
  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    box-shadow: none;
    margin-top: unset;
  }
}
.bg-grey {
  background-color: #eeeeee;
}
.custom-btn {
  gap: 8px;
  border-radius: 100px;
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  @extend %flex-center;
  border: 2px solid transparent;
  @extend %transition-2;
  white-space: nowrap;
  &:hover {
    border-color: $main-color;
    color: $main-color;
  }
  img {
    width: 40px;
    @include max-768 {
      width: 25px;
    }
  }
  @include max-768 {
    font-size: 11px;
  }
}
.general-title {
  color: $text-color;
  font-weight: 600;
  font-size: 28px;
  @include max-768 {
    font-size: 16px;
  }
}

.playstores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  a {
    display: flex;
    img {
      width: 118px;
    }
  }
}
.seeAll-link {
  color: $text-color;
  font-weight: 500;
  font-size: 18px;
  @extend %transition-2;
  &:hover {
    color: $main-color;
  }
  @include max-768 {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
      &::after {
        color: $main-color;
      }
    }
    &::after {
      content: "\f054";
      font-weight: 400;
      font-family: "Font Awesome 6 Pro";
      color: $text-color;
      font-size: 12px;
      transition: all linear 0.2s;
      @include ar {
        transform: rotate(180deg);
      }
    }
  }
}

.categories,
.banners {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: unset;
    left: 0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
    left: unset;
  }
  .swiper-button-disabled {
    display: none;
  }
}

.special-offers {
  padding-top: 24px;
  padding-bottom: 8px;
  @extend %transition-3;
  @include max-768 {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
.offers-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
  &::-webkit-scrollbar {
    display: none;
  }
  .custom-btn {
    height: 56px;
    @include max-768 {
      height: 40px;
    }
  }
}
